<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
        <title>Agriculture Irrigation Schemes</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="Responsive Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Ron" />


        {% load staticfiles %}

         <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    </head>
    <body >
        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn-content fixed-sidebar">

            {% include 'knbs_bi/side_menu.html' %}
            <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Agriculture Irrigation Schemes Input</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Agriculture Irrigation Schemes Data</span><br>
								<a href="/irrigation_schemes" class="btn maroon waves-effect waves-light " >
									<i class="material-icons right">arrow_left</i>
									Back
								</a>
                                <div class="row">

{#										<?php #}
{#								#}
{#									$view = mysqli_query($con,"SELECT * FROM irrigation_schemes #}
{#																WHERE irrigation_schemes_id ='$id'");#}
{#									#}
{#									while ($rowView = mysqli_fetch_assoc($view)){#}
{#									#}
{#										$ahero_gross_value_of_crop_millions  = $rowView['ahero_gross_value_of_crop_millions'];#}
{#										$ahero_hectares_cropped = $rowView['ahero_hectares_cropped'];#}
{#										$ahero_number_of_plots_holders= $rowView['ahero_number_of_plots_holders'];#}
{#										$ahero_paddy_yields_tonnes = $rowView['ahero_paddy_yields_tonnes'];#}
{#										$ahero_payments_to_plot_holders_millions = $rowView['ahero_payments_to_plot_holders_millions'];#}
{#										$all_schemes_gross_value_of_crop_millions = $rowView['all_schemes_gross_value_of_crop_millions'];#}
{#										$all_schemes_hectares_cropped = $rowView['all_schemes_hectares_cropped'];#}
{#										$all_schemes_number_of_plots_holders = $rowView['all_schemes_number_of_plots_holders'];#}
{#										$all_schemes_paddy_yields_tonnes = $rowView['all_schemes_paddy_yields_tonnes'];#}
{#										$all_schemes_payments_to_plot_holders_millions = $rowView['all_schemes_payments_to_plot_holders_millions'];#}
{#										$bunyala_gross_value_of_crop_millions = $rowView['bunyala_gross_value_of_crop_millions'];#}
{#										$bunyala_hectares_cropped = $rowView['bunyala_hectares_cropped'];;#}
{#										$bunyala_number_of_plots_holders = $rowView['bunyala_number_of_plots_holders'];#}
{#										$bunyala_paddy_yields_tonnes = $rowView['bunyala_paddy_yields_tonnes'];#}
{#										$bunyala_payments_to_plot_holders_millions = $rowView['bunyala_payments_to_plot_holders_millions'];#}
{#										$mwea_gross_value_of_crop_millions = $rowView['mwea_gross_value_of_crop_millions'];#}
{#										$mwea_number_of_plots_holders = $rowView['mwea_number_of_plots_holders'];#}
{#										$mwea_paddy_yields_tonnes = $rowView['mwea_paddy_yields_tonnes'];#}
{#										$mwea_payments_to_plot_holders_million = $rowView['mwea_payments_to_plot_holders_million'];#}
{#										$perkerra_gross_value_of_crop_millions = $rowView['perkerra_gross_value_of_crop_millions'];#}
{#										$perkerra_hectares_cropped = $rowView['perkerra_hectares_cropped'];#}
{#										$pekerra_number_of_plots_holders = $rowView['perkerra_number_of_plots_holders'];#}
{#										$perkerra_payments_to_plot_holders_millions = $rowView['perkerra_payments_to_plot_holders_millions'];#}
{#										$perkerra_seed_maize_tonnes = $rowView['perkerra_seed_maize_tonnes'];#}
{#										$west_kano_gross_value_of_crop_millions = $rowView['west_kano_gross_value_of_crop_millions'];#}
{#										$west_kano_hectares_cropped = $rowView['west_kano_hectares_cropped'];#}
{#										$west_kano_number_of_plots_holders = $rowView['west_kano_number_of_plots_holders'];#}
{#										$west_kano_paddy_yields_tonnes = $rowView['west_kano_paddy_yields_tonnes'];#}
{#										$west_kano_payments_to_plot_holders_millions = $rowView['west_kano_payments_to_plot_holders_millions'];#}
{#										$year = $rowView['year'];#}
{##}
{#								}#}
{#								#}
{#								?>#}
                                    <form action="" method="POST" class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="ahero_gross" name="ahero_gross"  value="" readonly/>
                                                <label for="year">*Ahero Gross Value of Crop Millions</label>
                                            </div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="ahero_hectares" name="ahero_hectares"  value="" readonly/>
												<label for="ahero_gross_value_of_crop_millions">*Ahero Hectares Cropped</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="ahero_no" name="ahero_no"  value="" readonly/>
												<label for="ahero_hectares_cropped ">*Ahero Number of Plot Holders</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="ahero_paddy" name="ahero_paddy"  value="" readonly/>
												<label for="ahero_number_of_plots_holders">*Ahero Paddy Yields Tonnes</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="ahero_pay" name="ahero_pay"  value="" readonly/>
												<label for="ahero_paddy_yields_tonnes">*Ahero Payment to Plot Holders Millions</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="scheme_gross" name="scheme_gross"  value="" readonly/>
												<label for="ahero_payments_to_plot_holders_millions">*All Scheme Gross Value of Crop Millions</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="scheme_hectares" name="scheme_hectares"  value="" readonly/>
												<label for="all_schemes_gross_value_of_crop_millions">*All Scheme Hectares Cropped</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="scheme_no" name="scheme_no"  value="" readonly/>
												<label for="all_schemes_hectares_cropped">*All Schemes Number of Plot Holders</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="scheme_paddy" name="scheme_paddy"  value="" readonly/>
												<label for="all_schemes_number_of_plots_holders">*All Schemes Paddy Yield Tonnes</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="scheme_pay" name="scheme_pay"  value="" readonly/>
												<label for="all_schemes_paddy_yields_tonnes">*All Schemes Payment to Plot Holders Millions</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="bunyala_gross" name="bunyala_gross"  value="" readonly/>
												<label for="all_schemes_payments_to_plot_holders_millions">*Bunyala Gross Value of Crop Millions</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="text" class="form-control" id="bunyala_hectares" name="bunyala_hectares"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Bunyala Hectares Cropped</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="bunyala_no" name="bunyala_no"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Bunyala Number of Plot Holders</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="bunyala_paddy" name="bunyala_paddy"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Bunyala Paddy Yield Tonnes</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="bunyala_pay" name="bunyala_pay"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Bunyala Payment to Plot Holders Millions</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="mwea_gross" name="mwea_gross"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Mwea Gross Value of Crop Millions</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="mwea_hectares" name="mwea_hectares"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Mwea Hectares Cropped</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="mwea_no" name="mwea_no"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Mwea Number of Plot Holders</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="mwea_paddy" name="mwea_paddy"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Mwea Paddy Yield Tonnes</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="mwea_pay" name="mwea_pay"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Mwea Payment to Plot Holders Millions</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="perkerra_gross" name="perkerra_gross"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Perkerra Gross Value of Crop Millions</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="perkerra_hectares" name="perkerra_hectares"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Perkerra Hectares Cropped</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="perkerra_no" name="perkerra_no"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Perkerra Number of Plot Holders</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="perkerra_pay" name="perkerra_pay"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Perkerra Payment to Plot Holders Millions</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="perkerra_seed" name="perkerra_seed"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Perkerra Seed Maize Tonnes</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="kano_gross" name="kano_gross"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Kano Gross Value of Crop Millions</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="kano_hectares" name="kano_hectares"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Kano Hectares Cropped</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="kano_no" name="kano_no"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Kano Number of Plot Holders</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="kano_paddy" name="kano_paddy"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Kano Paddy Yield Tonnes</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="kano_pay" name="kano_pay"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Kano Payment to Plot Holders Millions</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="form-control" id="year" name="year"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Year</label>
											</div>

										</div>

										<div class="row">
											<div class="col s4">
												<a href="/irrigation_schemes" class="btn maroon waves-effect waves-light " >
                                                    <i class="material-icons right">highlight_off</i>
                                                    Close
                                                </a>
											</div>
										</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
		<script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/plugins/google-code-prettify/prettify.js' %}"></script>

        <script>

            $ (function (){
                $('#ahero_gross').val(localStorage.getItem("ahero_gross"));
                $('#ahero_hectares').val(localStorage.getItem("ahero_hectares"));
                $('#ahero_no').val(localStorage.getItem("ahero_no"));
                $('#ahero_paddy').val(localStorage.getItem("ahero_paddy"));
                $('#ahero_pay').val(localStorage.getItem("ahero_pay"));
                $('#scheme_gross').val(localStorage.getItem("scheme_gross"));
                $('#scheme_hectares').val(localStorage.getItem("scheme_hectares"));
                $('#scheme_no').val(localStorage.getItem("scheme_no"));
                $('#scheme_paddy').val(localStorage.getItem("scheme_paddy"));
                $('#scheme_pay').val(localStorage.getItem("scheme_pay"));
                $('#bunyala_gross').val(localStorage.getItem("bunyala_gross"));
                $('#bunyala_hectares').val(localStorage.getItem("bunyala_hectares"));
                $('#bunyala_no').val(localStorage.getItem("bunyala_no"));
                $('#bunyala_paddy').val(localStorage.getItem("bunyala_paddy"));
                $('#bunyala_pay').val(localStorage.getItem("bunyala_pay"));
                $('#mwea_gross').val(localStorage.getItem("mwea_gross"));
                $('#mwea_hectares').val(localStorage.getItem("mwea_hectares"));
                $('#mwea_no').val(localStorage.getItem("mwea_no"));
                $('#mwea_paddy').val(localStorage.getItem("mwea_paddy"));
                $('#mwea_pay').val(localStorage.getItem("mwea_pay"));
                $('#perkerra_gross').val(localStorage.getItem("perkerra_gross"));
                $('#perkerra_hectares').val(localStorage.getItem("perkerra_hectares"));
                $('#perkerra_no').val(localStorage.getItem("perkerra_no"));
                $('#perkerra_pay').val(localStorage.getItem("perkerra_pay"));
                $('#perkerra_seed').val(localStorage.getItem("perkerra_seed"));
                $('#kano_gross').val(localStorage.getItem("kano_gross"));
                $('#kano_hectares').val(localStorage.getItem("kano_hectares"));
                $('#kano_no').val(localStorage.getItem("kano_no"));
                $('#kano_paddy').val(localStorage.getItem("kano_paddy"));
                $('#kano_pay').val(localStorage.getItem("kano_pay"));
                $('#year').val(localStorage.getItem("year"));

            });

        </script>

		<script type="text/javascript">
		/*
			$('input.validate').keyup(function(event) {

			  // skip for arrow keys
			  if(event.which >= 37 && event.which <= 40) return;

			  // format number
			  $(this).val(function(index, value) {
				return value
				.replace(/\D/g, "")
				.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
				;
			  });
			});
			*/
		</script>

{#		<?php if(isset($msg)){?>#}
{#		<script>#}
{#		$( document ).ready(function() {#}
{#			Materialize.toast("<?php echo $msg; ?>", 4000) #}
{#			});#}
{#		</script>#}
{#		<?php } ?>#}

    </body>
</html>