<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
		<title>Agriculture Value of Agricultural Inputs</title>
		<meta charset="utf-8">
		<meta name="description" content="Loyalty Club dashboard" />
		<meta name="keywords" content="web,loyalty club" />
		<meta name="author" content="Ron" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        {% load staticfiles %}


        <link href="{% static 'knbs_bi/assets/css/material.css' %}"  rel="stylesheet">


         <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

        <script type="text/javascript">

            function viewInputs(year, accounting, aerial, artificial, bags, farm, fertilizers, fuel, seed, veterinary,
            insurance, livestock, manufactured, marketing, office, other, material, agricultural, power, private,
            seeds, small, spares, tractor, transportation){
                localStorage.clear();
                localStorage.setItem("year", year);
                localStorage.setItem("accounting", accounting);
                localStorage.setItem("aerial", aerial);
                localStorage.setItem("artificial", artificial);
                localStorage.setItem("bags", bags);
                localStorage.setItem("farm", farm);
                localStorage.setItem("fertilizers", fertilizers);
                localStorage.setItem("fuel", fuel);
                localStorage.setItem("seed", seed);
                localStorage.setItem("veterinary", veterinary);
                localStorage.setItem("insurance", insurance);
                localStorage.setItem("livestock", livestock);
                localStorage.setItem("manufactured", manufactured);
                localStorage.setItem("marketing", marketing);
                localStorage.setItem("office", office);
                localStorage.setItem("other", other);
                localStorage.setItem("material", material);
                localStorage.setItem("agricultural", agricultural);
                localStorage.setItem("power", power);
                localStorage.setItem("private", private);
                localStorage.setItem("seeds", seeds);
                localStorage.setItem("small", small);
                localStorage.setItem("spares", spares);
                localStorage.setItem("tractor", tractor);
                localStorage.setItem("transportation", transportation);
                window.location.replace("/value_of_agricultural_inputs_view");

            }

            function loadInputs(id, year, accounting, aerial, artificial, bags, farm, fertilizers, fuel, seed, veterinary,
            insurance, livestock, manufactured, marketing, office, other, material, agricultural, power, private,
            seeds, small, spares, tractor, transportation){
                localStorage.clear();
                localStorage.setItem("id", id);
                localStorage.setItem("year", year);
                localStorage.setItem("accounting", accounting);
                localStorage.setItem("aerial", aerial);
                localStorage.setItem("artificial", artificial);
                localStorage.setItem("bags", bags);
                localStorage.setItem("farm", farm);
                localStorage.setItem("fertilizers", fertilizers);
                localStorage.setItem("fuel", fuel);
                localStorage.setItem("seed", seed);
                localStorage.setItem("veterinary", veterinary);
                localStorage.setItem("insurance", insurance);
                localStorage.setItem("livestock", livestock);
                localStorage.setItem("manufactured", manufactured);
                localStorage.setItem("marketing", marketing);
                localStorage.setItem("office", office);
                localStorage.setItem("other", other);
                localStorage.setItem("material", material);
                localStorage.setItem("agricultural", agricultural);
                localStorage.setItem("power", power);
                localStorage.setItem("private", private);
                localStorage.setItem("seeds", seeds);
                localStorage.setItem("small", small);
                localStorage.setItem("spares", spares);
                localStorage.setItem("tractor", tractor);
                localStorage.setItem("transportation", transportation);
                window.location.replace("/value_of_agricultural_inputs_edit");

            }
        </script>


    </head>
    <body>

        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mn-content fixed-sidebar">
            {% include 'knbs_bi/side_menu.html' %}
           <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Agriculture Value of Agricultural Inputs</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Agriculture Value of Agricultural Inputs Data</span>

                                {% if values %}

								<a href="/value_of_agricultural_inputs_add" class="btn maroon waves-effect waves-light " >Add
									<i class="material-icons right">add</i>
								</a>

                               <table id="example" class="display responsive-table datatable-example">
                                    <thead>
                                        <tr>
											<th></th>
                                            <th>Year</th>
											<th>Accounting, Secretariat and Auditing Services</th>
											<th>Aerial Spraying</th>
                                            <th>Artificial Insemination</th>
                                            <th>Bags</th>
                                            <th>View</th>
											<th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for value in values %}
                                        <tr>
											<td></td>
											<td >{{ value.year }}</td>
                                            <td >{{ value.accounting_secretarial_and_auditing_services }}</td>
											<td >{{ value.aerial_spraying }}</td>
											<td >{{ value.artificial_insemination }}</td>
                                            <td >{{ value.bags }}</td>
                                            <td ><button class="waves-effect waves-light btn orange "
                                                         onclick="viewInputs({{ value.year }}, {{ value.accounting_secretarial_and_auditing_services }}, {{ value.aerial_spraying }}
                                                                 ,{{ value.artificial_insemination }}, {{ value.bags }}, {{ value.farm_planning_and_survey_services }}
                                                                 , {{ value.fertilizers }}, {{ value.fuel }}, {{ value.government_seed_inspection_services }}
                                                                 ,{{ value.government_veterinary_inoculation_services }}, {{ value.insurance }}, {{ value.livestock_drugs_and_medicines }}
                                                                 , {{ value.manufactured_feeds }} ,{{ value.marketing_research_and_publicity }}, {{ value.office_expenses }}
                                                                 , {{ value.other }} , {{ value.other_material_inputs }},{{ value.other_agricultural_chemicals }}
                                                                 ,{{ value.power }}, {{ value.private_veterinary_services }}, {{ value.seeds }}
                                                                 ,{{ value.small_implements }}, {{ value.spares_and_maintenance_of_machinery }}, {{ value.tractor_services }}
                                                                 ,{{ value.transportation }})"> View </button></td>

                                            <td ><button class="waves-effect waves-light btn orange " onclick="loadInputs({{ value.id }},{{ value.year }}, {{ value.accounting_secretarial_and_auditing_services }}, {{ value.aerial_spraying }}
                                                                 ,{{ value.artificial_insemination }}, {{ value.bags }}, {{ value.farm_planning_and_survey_services }}
                                                                 , {{ value.fertilizers }}, {{ value.fuel }}, {{ value.government_seed_inspection_services }}
                                                                 ,{{ value.government_veterinary_inoculation_services }}, {{ value.insurance }}, {{ value.livestock_drugs_and_medicines }}
                                                                 , {{ value.manufactured_feeds }} ,{{ value.marketing_research_and_publicity }}, {{ value.office_expenses }}
                                                                 , {{ value.other }} , {{ value.other_material_inputs }},{{ value.other_agricultural_chemicals }}
                                                                 ,{{ value.power }}, {{ value.private_veterinary_services }}, {{ value.seeds }}
                                                                 ,{{ value.small_implements }}, {{ value.spares_and_maintenance_of_machinery }}, {{ value.tractor_services }}
                                                                 ,{{ value.transportation }})"> Edit </button></td>
                                        </tr>
										{% endfor %}
                                    </tbody>
                                </table>

                                {% else %}
											<p> You currently have no data</p>
								{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
        <script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/pages/table-data.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>

    </body>
</html>