<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
        <title>Agriculture Total Share Capital</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="Responsive Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Ron" />


        {% load staticfiles %}

         <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    </head>
    <body >
        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn-content fixed-sidebar">

            {% include 'knbs_bi/side_menu.html' %}
            <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Agriculture Total Share Capital Input</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Agriculture Total Share Capital Data</span><br>
								<a href="/total_share_capital" class="btn maroon waves-effect waves-light " >
									<i class="material-icons right">arrow_left</i>
									Back
								</a>
                                <div class="row">

{#										<?php #}
{#								#}
{#									$view = mysqli_query($con,"SELECT * FROM irrigation_schemes #}
{#																WHERE irrigation_schemes_id ='$id'");#}
{#									#}
{#									while ($rowView = mysqli_fetch_assoc($view)){#}
{#									#}
{#										$ahero_gross_value_of_crop_millions  = $rowView['ahero_gross_value_of_crop_millions'];#}
{#										$ahero_hectares_cropped = $rowView['ahero_hectares_cropped'];#}
{#										$ahero_number_of_plots_holders= $rowView['ahero_number_of_plots_holders'];#}
{#										$ahero_paddy_yields_tonnes = $rowView['ahero_paddy_yields_tonnes'];#}
{#										$ahero_payments_to_plot_holders_millions = $rowView['ahero_payments_to_plot_holders_millions'];#}
{#										$all_schemes_gross_value_of_crop_millions = $rowView['all_schemes_gross_value_of_crop_millions'];#}
{#										$all_schemes_hectares_cropped = $rowView['all_schemes_hectares_cropped'];#}
{#										$all_schemes_number_of_plots_holders = $rowView['all_schemes_number_of_plots_holders'];#}
{#										$all_schemes_paddy_yields_tonnes = $rowView['all_schemes_paddy_yields_tonnes'];#}
{#										$all_schemes_payments_to_plot_holders_millions = $rowView['all_schemes_payments_to_plot_holders_millions'];#}
{#										$bunyala_gross_value_of_crop_millions = $rowView['bunyala_gross_value_of_crop_millions'];#}
{#										$bunyala_hectares_cropped = $rowView['bunyala_hectares_cropped'];;#}
{#										$bunyala_number_of_plots_holders = $rowView['bunyala_number_of_plots_holders'];#}
{#										$bunyala_paddy_yields_tonnes = $rowView['bunyala_paddy_yields_tonnes'];#}
{#										$bunyala_payments_to_plot_holders_millions = $rowView['bunyala_payments_to_plot_holders_millions'];#}
{#										$mwea_gross_value_of_crop_millions = $rowView['mwea_gross_value_of_crop_millions'];#}
{#										$mwea_number_of_plots_holders = $rowView['mwea_number_of_plots_holders'];#}
{#										$mwea_paddy_yields_tonnes = $rowView['mwea_paddy_yields_tonnes'];#}
{#										$mwea_payments_to_plot_holders_million = $rowView['mwea_payments_to_plot_holders_million'];#}
{#										$perkerra_gross_value_of_crop_millions = $rowView['perkerra_gross_value_of_crop_millions'];#}
{#										$perkerra_hectares_cropped = $rowView['perkerra_hectares_cropped'];#}
{#										$pekerra_number_of_plots_holders = $rowView['perkerra_number_of_plots_holders'];#}
{#										$perkerra_payments_to_plot_holders_millions = $rowView['perkerra_payments_to_plot_holders_millions'];#}
{#										$perkerra_seed_maize_tonnes = $rowView['perkerra_seed_maize_tonnes'];#}
{#										$west_kano_gross_value_of_crop_millions = $rowView['west_kano_gross_value_of_crop_millions'];#}
{#										$west_kano_hectares_cropped = $rowView['west_kano_hectares_cropped'];#}
{#										$west_kano_number_of_plots_holders = $rowView['west_kano_number_of_plots_holders'];#}
{#										$west_kano_paddy_yields_tonnes = $rowView['west_kano_paddy_yields_tonnes'];#}
{#										$west_kano_payments_to_plot_holders_millions = $rowView['west_kano_payments_to_plot_holders_millions'];#}
{#										$year = $rowView['year'];#}
{##}
{#								}#}
{#								#}
{#								?>#}
                                    <form action="" method="POST" class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="year" name="year"  value="" readonly/>
                                                <label for="year">*Year</label>
                                            </div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="coffee" name="coffee"  value="" readonly/>
												<label for="ahero_gross_value_of_crop_millions">*Coffee</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="cotton" name="cotton"  value="" readonly/>
												<label for="ahero_hectares_cropped ">*Cotton</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="pyrethrum" name="pyrethrum"  value="" readonly/>
												<label for="ahero_number_of_plots_holders">*Pyrethrum</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="sugar" name="sugar"  value="" readonly/>
												<label for="ahero_paddy_yields_tonnes">*Sugar/label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="dairy" name="dairy"  value="" readonly/>
												<label for="ahero_payments_to_plot_holders_millions">*Dairy</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="purpose" name="purpose"  value="" readonly/>
												<label for="all_schemes_gross_value_of_crop_millions">*Multi-Purpose</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="farm" name="farm"  value="" readonly/>
												<label for="all_schemes_hectares_cropped">*Farm Purchase</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="fisheries" name="fisheries"  value="" readonly/>
												<label for="all_schemes_number_of_plots_holders">*Fisheries</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="agricultural" name="agricultural"  value="" readonly/>
												<label for="all_schemes_paddy_yields_tonnes">*Other Agricultural</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="total_agricultural" name="total_agricultural"  value="" readonly/>
												<label for="all_schemes_paddy_yields_tonnes">*Total Agriculture</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="saccos" name="saccos"  value="" readonly/>
												<label for="all_schemes_payments_to_plot_holders_millions">*Saccos</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="consumer" name="consumer"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Consumer</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="housing" name="housing"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Housing</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="craft" name="craft"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Crafts Men</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="transport" name="transport"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Transport</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="other" name="other"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Other Non-Agricultural</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="total" name="total"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Total Non-Agricultural</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="unions" name="unions"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Unions</label>
											</div>


										</div>

										<div class="row">
											<div class="col s4">
												<a href="/total_share_capital" class="btn maroon waves-effect waves-light " >
                                                    <i class="material-icons right">highlight_off</i>
                                                    Close
                                                </a>
											</div>
										</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
		<script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/plugins/google-code-prettify/prettify.js' %}"></script>

        <script>

            $ (function (){
                $('#year').val(localStorage.getItem("year"));
                $('#coffee').val(localStorage.getItem("coffee"));
                $('#cotton').val(localStorage.getItem("cotton"));
                $('#pyrethrum').val(localStorage.getItem("pyrethrum"));
                $('#sugar').val(localStorage.getItem("sugar"));
                $('#dairy').val(localStorage.getItem("dairy"));
                $('#purpose').val(localStorage.getItem("purpose"));
                $('#farm').val(localStorage.getItem("farm"));
                $('#fisheries').val(localStorage.getItem("fisheries"));
                $('#agricultural').val(localStorage.getItem("agricultural"));
                $('#total_agricultural').val(localStorage.getItem("total_agricultural"));
                $('#saccos').val(localStorage.getItem("saccos"));
                $('#consumer').val(localStorage.getItem("consumer"));
                $('#housing').val(localStorage.getItem("housing"));
                $('#craft').val(localStorage.getItem("craft"));
                $('#transport').val(localStorage.getItem("transport"));
                $('#other').val(localStorage.getItem("other"));
                $('#total').val(localStorage.getItem("total"));
                $('#unions').val(localStorage.getItem("unions"));

            });

        </script>

		<script type="text/javascript">
		/*
			$('input.validate').keyup(function(event) {

			  // skip for arrow keys
			  if(event.which >= 37 && event.which <= 40) return;

			  // format number
			  $(this).val(function(index, value) {
				return value
				.replace(/\D/g, "")
				.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
				;
			  });
			});
			*/
		</script>

{#		<?php if(isset($msg)){?>#}
{#		<script>#}
{#		$( document ).ready(function() {#}
{#			Materialize.toast("<?php echo $msg; ?>", 4000) #}
{#			});#}
{#		</script>#}
{#		<?php } ?>#}

    </body>
</html>