<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
        <title>Price To Producers for Milk, Beef and Pork </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="Responsive Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Ron" />


        {% load staticfiles %}

         <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>


    </head>
    <body >
        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn-content fixed-sidebar">

            {% include 'knbs_bi/side_menu.html' %}
            <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Price to Producers For Milk, Beef and Pork Products</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Price to Producers For Milk, Beef and Pork Products in KES</span><br>
								<a href="/price_to_producers_for_meat_milk" class="btn maroon waves-effect waves-light " >
									<i class="material-icons right">arrow_left</i>
									Back
								</a>
                                <div class="row">
                                    <form action="" method="POST" class="col s12">
                                        <div class="row">
											<div class="input-field col s12 m6">
												<select name="year" id="year">
													<option value="">Year...</option>
													{% for i in 1990|range:2031 %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
												</select>
											</div>
										   <div class="input-field col s12 m6">
												<input class="validate" id="beef" name="beef" type="number" required>
                                                <label for="beef_third_grade_per_kg">*Beef</label>
                                            </div>
											<div class="input-field col s12 m6">
												<input id="pig" name="pig" type="number"  class="validate" required>
												<label for="pig_meat_per_kg">*Pork</label>
											</div>
											<div class="input-field col s12 m6">
												<input id="milk" name="milk" type="number" class="validate" required>
												<label for="whole_milk_per_litre">*Milk</label>
											</div>
										</div>

										<div class="row">
											<div class="col s4">
												<button class="btn maroon waves-effect waves-light " type="submit" name="submit" id="updateData">Update
													<i class="material-icons right">send</i>
												</button>
											</div>
										</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
		<script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/plugins/google-code-prettify/prettify.js' %}"></script>


		<script type="text/javascript">
		/*
			$('input.validate').keyup(function(event) {

			  // skip for arrow keys
			  if(event.which >= 37 && event.which <= 40) return;

			  // format number
			  $(this).val(function(index, value) {
				return value
				.replace(/\D/g, "")
				.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
				;
			  });
			});
			*/
		</script>

{#		<?php if(isset($msg)){?>#}
{#		<script>#}
{#		$( document ).ready(function() {#}
{#			Materialize.toast("<?php echo $msg; ?>", 4000)#}
{#			});#}
{#		</script>#}
{#		<?php } ?>#}

    <script>

            $ (function (){
                $('select#year').val(localStorage.getItem("year"));$('select#year').material_select();
                $('#beef').val(localStorage.getItem("beef"));
                $('#pig').val(localStorage.getItem("pig"));
                $('#milk').val(localStorage.getItem("milk"));
            });

            $("#updateData").click(function (e) {
                e.preventDefault();
                var address = ["/agriculture/edit_price_meat_milk"];
                var arrayLength = address.length;
                for (var i = 0; i < arrayLength; i++) {
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": address[i],
                        "method": "POST",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded",
                            "cache-control": "no-cache",
                        },
                        "data": {
                            "year": $('#year').val(),
                            "beef": $('#beef').val(),
                            "pig": $('#pig').val(),
                            "milk": $('#milk').val(),
                            "price": localStorage.getItem("id")
                        }
                    }
                    $('#year').val('');
                    $('#beef').val('');
                    $('#pig').val('');
                    $('#milk').val('');

                    $.ajax(settings).done(function (response) {
                        alert("Editted Successfully");
                        console.log(response);
                    });
                }
            })

        </script>

    </body>
</html>