<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
        <title>Agriculture Value of Agricultural Inputs</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="Responsive Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Ron" />


        {% load staticfiles %}

         <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    </head>
    <body >
        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn-content fixed-sidebar">

            {% include 'knbs_bi/side_menu.html' %}
            <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Agriculture Value of Agricultural Inputs Input</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Agriculture Value of Agricultural Inputs Data</span><br>
								<a href="/value_of_agricultural_inputs" class="btn maroon waves-effect waves-light " >
									<i class="material-icons right">arrow_left</i>
									Back
								</a>
                                <div class="row">

{#										<?php #}
{#								#}
{#									$view = mysqli_query($con,"SELECT * FROM irrigation_schemes #}
{#																WHERE irrigation_schemes_id ='$id'");#}
{#									#}
{#									while ($rowView = mysqli_fetch_assoc($view)){#}
{#									#}
{#										$ahero_gross_value_of_crop_millions  = $rowView['ahero_gross_value_of_crop_millions'];#}
{#										$ahero_hectares_cropped = $rowView['ahero_hectares_cropped'];#}
{#										$ahero_number_of_plots_holders= $rowView['ahero_number_of_plots_holders'];#}
{#										$ahero_paddy_yields_tonnes = $rowView['ahero_paddy_yields_tonnes'];#}
{#										$ahero_payments_to_plot_holders_millions = $rowView['ahero_payments_to_plot_holders_millions'];#}
{#										$all_schemes_gross_value_of_crop_millions = $rowView['all_schemes_gross_value_of_crop_millions'];#}
{#										$all_schemes_hectares_cropped = $rowView['all_schemes_hectares_cropped'];#}
{#										$all_schemes_number_of_plots_holders = $rowView['all_schemes_number_of_plots_holders'];#}
{#										$all_schemes_paddy_yields_tonnes = $rowView['all_schemes_paddy_yields_tonnes'];#}
{#										$all_schemes_payments_to_plot_holders_millions = $rowView['all_schemes_payments_to_plot_holders_millions'];#}
{#										$bunyala_gross_value_of_crop_millions = $rowView['bunyala_gross_value_of_crop_millions'];#}
{#										$bunyala_hectares_cropped = $rowView['bunyala_hectares_cropped'];;#}
{#										$bunyala_number_of_plots_holders = $rowView['bunyala_number_of_plots_holders'];#}
{#										$bunyala_paddy_yields_tonnes = $rowView['bunyala_paddy_yields_tonnes'];#}
{#										$bunyala_payments_to_plot_holders_millions = $rowView['bunyala_payments_to_plot_holders_millions'];#}
{#										$mwea_gross_value_of_crop_millions = $rowView['mwea_gross_value_of_crop_millions'];#}
{#										$mwea_number_of_plots_holders = $rowView['mwea_number_of_plots_holders'];#}
{#										$mwea_paddy_yields_tonnes = $rowView['mwea_paddy_yields_tonnes'];#}
{#										$mwea_payments_to_plot_holders_million = $rowView['mwea_payments_to_plot_holders_million'];#}
{#										$perkerra_gross_value_of_crop_millions = $rowView['perkerra_gross_value_of_crop_millions'];#}
{#										$perkerra_hectares_cropped = $rowView['perkerra_hectares_cropped'];#}
{#										$pekerra_number_of_plots_holders = $rowView['perkerra_number_of_plots_holders'];#}
{#										$perkerra_payments_to_plot_holders_millions = $rowView['perkerra_payments_to_plot_holders_millions'];#}
{#										$perkerra_seed_maize_tonnes = $rowView['perkerra_seed_maize_tonnes'];#}
{#										$west_kano_gross_value_of_crop_millions = $rowView['west_kano_gross_value_of_crop_millions'];#}
{#										$west_kano_hectares_cropped = $rowView['west_kano_hectares_cropped'];#}
{#										$west_kano_number_of_plots_holders = $rowView['west_kano_number_of_plots_holders'];#}
{#										$west_kano_paddy_yields_tonnes = $rowView['west_kano_paddy_yields_tonnes'];#}
{#										$west_kano_payments_to_plot_holders_millions = $rowView['west_kano_payments_to_plot_holders_millions'];#}
{#										$year = $rowView['year'];#}
{##}
{#								}#}
{#								#}
{#								?>#}
                                    <form action="" method="POST" class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="year" name="year"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Year</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="accounting" name="accounting"  value="" readonly/>
												<label for="ahero_gross_value_of_crop_millions">*Accounting, Secretarial and Auditing services</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="aerial" name="aerial"  value="" readonly/>
												<label for="ahero_hectares_cropped ">*Aerial Spraying</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="artificial" name="artificial"  value="" readonly/>
												<label for="ahero_number_of_plots_holders">*Artificial Insemination</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="bags" name="bags"  value="" readonly/>
												<label for="ahero_paddy_yields_tonnes">*Bags</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="farm" name="farm"  value="" readonly/>
												<label for="ahero_payments_to_plot_holders_millions">*Farm Planning and Survey Services</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="fertilizers" name="fertilizers"  value="" readonly/>
												<label for="all_schemes_gross_value_of_crop_millions">*Fertilizers</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="fuel" name="fuel"  value="" readonly/>
												<label for="all_schemes_hectares_cropped">*Fuel</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="seed" name="seed"  value="" readonly/>
												<label for="all_schemes_number_of_plots_holders">*Government Seed Inspection Services</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="veterinary" name="veterinary"  value="" readonly/>
												<label for="all_schemes_paddy_yields_tonnes">*Government Veterinary Inoculation Services</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="insurance" name="insurance"  value="" readonly/>
												<label for="all_schemes_payments_to_plot_holders_millions">*Insurance</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="email" class="form-control" id="livestock" name="livestock"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Livestock, Drugs and Medicine</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="manufactured" name="manufactured"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Manufactured Seeds</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="marketing" name="marketing"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Marketing, Research and Publicity</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="office" name="office"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Office Expenses</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="other" name="other"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Other</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="material" name="material"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Other Material Inputs</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="agricultural" name="agricultural"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Other Agricultural Chemicals</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="power" name="power"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Power</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="private" name="private"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Private Veterinary Services</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="seeds" name="seeds"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Seeds</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="small" name="small"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Small Implements</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="spares" name="spares"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Spares and Maintenance of Machinery</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="tractor" name="tractor"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Tractor Services</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="email" class="form-control" id="transportation" name="transportation"  value="" readonly/>
												<label for="bunyala_gross_value_of_crop_millions">*Transportation</label>
											</div>



										</div>

										<div class="row">
											<div class="col s4">
												<a href="/value_of_agricultural_inputs" class="btn maroon waves-effect waves-light " >
                                                    <i class="material-icons right">highlight_off</i>
                                                    Close
                                                </a>
											</div>
										</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
		<script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/plugins/google-code-prettify/prettify.js' %}"></script>

        <script>

            $ (function (){
                $('#year').val(localStorage.getItem("year"));
                $('#accounting').val(localStorage.getItem("accounting"));
                $('#aerial').val(localStorage.getItem("aerial"));
                $('#artificial').val(localStorage.getItem("artificial"));
                $('#bags').val(localStorage.getItem("bags"));
                $('#farm').val(localStorage.getItem("farm"));
                $('#fertilizers').val(localStorage.getItem("fertilizers"));
                $('#fuel').val(localStorage.getItem("fuel"));
                $('#seed').val(localStorage.getItem("seed"));
                $('#veterinary').val(localStorage.getItem("veterinary"));
                $('#insurance').val(localStorage.getItem("insurance"));
                $('#livestock').val(localStorage.getItem("livestock"));
                $('#manufactured').val(localStorage.getItem("manufactured"));
                $('#marketing').val(localStorage.getItem("marketing"));
                $('#office').val(localStorage.getItem("office"));
                $('#other').val(localStorage.getItem("other"));
                $('#material').val(localStorage.getItem("material"));
                $('#agricultural').val(localStorage.getItem("agricultural"));
                $('#power').val(localStorage.getItem("power"));
                $('#private').val(localStorage.getItem("private"));
                $('#seeds').val(localStorage.getItem("seeds"));
                $('#small').val(localStorage.getItem("small"));
                $('#spares').val(localStorage.getItem("spares"));
                $('#tractor').val(localStorage.getItem("tractor"));
                $('#transportation').val(localStorage.getItem("transportation"));


            });

        </script>

		<script type="text/javascript">
		/*
			$('input.validate').keyup(function(event) {

			  // skip for arrow keys
			  if(event.which >= 37 && event.which <= 40) return;

			  // format number
			  $(this).val(function(index, value) {
				return value
				.replace(/\D/g, "")
				.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
				;
			  });
			});
			*/
		</script>

{#		<?php if(isset($msg)){?>#}
{#		<script>#}
{#		$( document ).ready(function() {#}
{#			Materialize.toast("<?php echo $msg; ?>", 4000) #}
{#			});#}
{#		</script>#}
{#		<?php } ?>#}

    </body>
</html>