<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
		<title>Primary School Enrollment by Class, Sex and Sub-County</title>
		<meta charset="utf-8">
		<meta name="description" content="Loyalty Club dashboard" />
		<meta name="keywords" content="web,loyalty club" />
		<meta name="author" content="Ron" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        {% load staticfiles %}


        <link href="{% static 'knbs_bi/assets/css/material.css' %}"  rel="stylesheet">


         <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

        <script type="text/javascript">

            function viewEnrollment(county, subcounty, one, two, three, four, five, six, seven, eight,
            gender, year){
                localStorage.clear();
                localStorage.setItem("county", county);
                localStorage.setItem("subcounty", subcounty);
                localStorage.setItem("one", one);
                localStorage.setItem("two", two);
                localStorage.setItem("three", three);
                localStorage.setItem("four", four);
                localStorage.setItem("five", five);
                localStorage.setItem("six", six);
                localStorage.setItem("seven", seven);
                localStorage.setItem("eight", eight);
                localStorage.setItem("gender", gender);
                localStorage.setItem("year", year);
                window.location.replace("/primary_enrollment_class_sex_and_subcounty_view");

            }

            function load_enrollment(id, county, subcounty, one, two, three, four, five, six, seven, eight,
            gender, year){
                localStorage.clear();
                localStorage.setItem("id", id);
                localStorage.setItem("county", county);
                localStorage.setItem("subcounty", subcounty);
                localStorage.setItem("one", one);
                localStorage.setItem("two", two);
                localStorage.setItem("three", three);
                localStorage.setItem("four", four);
                localStorage.setItem("five", five);
                localStorage.setItem("six", six);
                localStorage.setItem("seven", seven);
                localStorage.setItem("eight", eight);
                localStorage.setItem("gender", gender);
                localStorage.setItem("year", year);
                window.location.replace("/primary_enrollment_class_sex_and_subcounty_edit");

            }
        </script>


    </head>
    <body>

        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mn-content fixed-sidebar">
            {% include 'knbs_bi/side_menu.html' %}
           <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Primary School Enrollment by Class, Sex and Sub-County</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Primary School Enrollment by Class, Sex and Sub-County Data</span>

                                {% if enrollments %}

								<a href="/primary_enrollment_class_sex_and_subcounty_add" class="btn maroon waves-effect waves-light " >Add
									<i class="material-icons right">add</i>
								</a>

                               <table id="example" class="display responsive-table datatable-example">
                                    <thead>
                                        <tr>
											<th></th>
                                            <th>County</th>
											<th>Sub County</th>
											<th>Class One</th>
                                            <th>Class Two</th>
                                            <th>Class Three</th>
                                            <th>View</th>
											<th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for enrollment in enrollments %}
                                        <tr>
											<td></td>
											<td >{{ enrollment.county }}</td>
                                            <td >{{ enrollment.sub_county }}</td>
											<td >{{ enrollment.class_1 }}</td>
											<td >{{ enrollment.class_2 }}</td>
                                            <td >{{ enrollment.class_3 }}</td>
                                            <td ><button class="waves-effect waves-light btn orange "
                                                         onclick="viewEnrollment('{{ enrollment.county }}', '{{ enrollment.sub_county }}', {{ enrollment.class_1 }}, {{ enrollment.class_2 }}
                                                                 ,{{ enrollment.class_3 }}, {{ enrollment.class_4 }}, {{ enrollment.class_5 }}
                                                                 , {{ enrollment.class_6 }}, {{ enrollment.class_7 }}, {{ enrollment.class_8 }}
                                                                 ,'{{ enrollment.gender }}', {{ enrollment.year }})"> View </button></td>

                                            <td ><button class="waves-effect waves-light btn orange " onclick="load_enrollment({{ enrollment.id }},'{{ enrollment.county }}', '{{ enrollment.sub_county }}'
                                                    , {{ enrollment.class_1 }}, {{ enrollment.class_2 }}, {{ enrollment.class_3 }}, {{ enrollment.class_4 }}, {{ enrollment.class_5 }}
                                                                 , {{ enrollment.class_6 }}, {{ enrollment.class_7 }}, {{ enrollment.class_8 }}
                                                                 ,'{{ enrollment.gender }}', {{ enrollment.year }})"> Edit </button></td>
                                        </tr>
										{% endfor %}
                                    </tbody>
                                </table>

                                {% else %}
											<p> You currently have no data</p>
								{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
        <script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/pages/table-data.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>

    </body>
</html>