<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
        <title>National Government Expenditure</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="Responsive Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Ron" />


        {% load staticfiles %}

         <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    </head>
    <body >
        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn-content fixed-sidebar">

            {% include 'knbs_bi/side_menu.html' %}
            <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">National Government Expenditure</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">National Government Expenditure Data</span><br>
								<a href="/national_government_expenditure" class="btn maroon waves-effect waves-light " >
									<i class="material-icons right">arrow_left</i>
									Back
								</a>
                                <div class="row">

                                    <form action="" method="POST" class="col s12">
                                        <div class="row">
                                            value="" readonly

                                            <div class="input-field col s12 m6">
												<input type="number" class="validate" id="non_financial" name="non_financial" value="" readonly/>
												<label for="non_financial">*Acquisition Non Financial Assets</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="number" class="validate" id="financial" name="financial"  value="" readonly/>
												<label for="financial ">*Acquisition Financial Assets</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="loans" name="loans"  value="" readonly/>
												<label for="loans">*Loan Repayment</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="compensation" name="compensation"  value="" readonly/>
												<label for="compensation">*Compensation Employees</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="goods" name="goods"  value="" readonly/>
												<label for="goods">*Goods and Services</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="subsidies" name="subsidies"  value="" readonly/>
												<label for="subsidies">*Subsidies</label>
											</div>

											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="interest" name="interest"  value="" readonly/>
												<label for="interest">*Interest</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="grants" name="grants"  value="" readonly/>
												<label for="grants">*Grants</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="expenses" name="expenses"  value="" readonly/>
												<label for="expenses">*Other Expenses</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="benefits" name="benefits"  value="" readonly/>
												<label for="benefits">*Social Benefits</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="capital" name="capital"  value="" readonly/>
												<label for="capital">*Capital Grants</label>
											</div>
											<div class="input-field col s12 m6">
												<input type="number" class="validate" id="total" name="total"  value="" readonly/>
												<label for="total">*Total</label>
											</div>
                                            <div class="input-field col s12 m6">
												<input type="text" class="validate" id="year" name="year"  value="" readonly/>
												<label for="year">*Year</label>
											</div>






										</div>

										<div class="row">
											<div class="col s4">
												<a href="/national_government_expenditure" class="btn maroon waves-effect waves-light " >
                                                    <i class="material-icons right">highlight_off</i>
                                                    Close
                                                </a>
											</div>
										</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
		<script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/plugins/google-code-prettify/prettify.js' %}"></script>

        <script>

            $ (function (){
                $('#year').val(localStorage.getItem("year"));
                $('#non_financial').val(localStorage.getItem("non_financial"));
                $('#financial').val(localStorage.getItem("financial"));
                $('#loans').val(localStorage.getItem("loans"));
                $('#compensation').val(localStorage.getItem("compensation"));
                $('#goods').val(localStorage.getItem("goods"));
                $('#subsidies').val(localStorage.getItem("subsidies"));
                $('#interest').val(localStorage.getItem("interest"));
                $('#grants').val(localStorage.getItem("grants"));
                $('#expenses').val(localStorage.getItem("expenses"));
                $('#benefits').val(localStorage.getItem("benefits"));
                $('#capital').val(localStorage.getItem("capital"));
                $('#total').val(localStorage.getItem("total"));

            });

        </script>

		<script type="text/javascript">
		/*
			$('input.validate').keyup(function(event) {

			  // skip for arrow keys
			  if(event.which >= 37 && event.which <= 40) return;

			  // format number
			  $(this).val(function(index, value) {
				return value
				.replace(/\D/g, "")
				.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
				;
			  });
			});
			*/
		</script>

{#		<?php if(isset($msg)){?>#}
{#		<script>#}
{#		$( document ).ready(function() {#}
{#			Materialize.toast("<?php echo $msg; ?>", 4000) #}
{#			});#}
{#		</script>#}
{#		<?php } ?>#}

    </body>
</html>