<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
        <title>Immunization | Edit</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="Responsive Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Ron" />

        {% load staticfiles %}


        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">


        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->




    </head>
    <body >
        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn-content fixed-sidebar">

            {% include 'knbs_bi/side_menu.html' %}
            <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Immunization Coverage Rate</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Immunization Details</span><br>
								<a href="/immunization_history" class="btn maroon waves-effect waves-light " >
									<i class="material-icons right">arrow_left</i>
									Back
								</a>
                                <div class="row">
                                    <form class="col s12">

                                    {% csrf_token %}


										<div class="row">
											 <div class="input-field col m6 s12">
												<select name="year" id="year">
													{% for i in 1990|range:2031 %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
												</select>
											</div>
                                            <div class="input-field col m6 s12">
												<select name="county_id" id="county_id">
                                                //onchange="javascript:alert('Wow!')
													<option value="">County...</option>
													{% for county in counties %}
                                                        <option value="{{ county.county_name }}">{{ county.county_name }}</option>
                                                    {% endfor %}
												</select>
											</div>
										</div>

										<div class="row">
                                            <div class="input-field col s12 m6">
												<input class="validate" id="rate" name="rate" type="number"  value="<?php if(isset($rate)){echo $rate;} ?>" required>
                                                <label for="rate">*Immunization Coverage Rate</label>
                                            </div>
										</div>

										<div class="row">
											<div class="col s4">
												<button class="btn maroon waves-effect waves-light" id="updateData" name="submit">Update
													<i class="material-icons right">send</i>
												</button>
											</div>
										</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="left-sidebar-hover"></div>

         <!-- Javascripts -->
		<script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>
		<script src="{% static 'knbs_bi/assets/plugins/google-code-prettify/prettify.js' %}"></script>

        <script>

            $ (function () {
{#            var id = localStorage.getItem("id");#}
{#            console.log(id);#}
{#            console.log($('#county_id').val())#}
            $('#rate').val(localStorage.getItem("rate"));
            $('select#county_id').val(localStorage.getItem("county"));$('select#county_id').material_select();
            $('select#year').val(localStorage.getItem("year"));$('select#year').material_select();
           //console.log(facility);
           //document.getElementById('health_facility').value = facility;
           //console.log("Waiting");
            });


            $("#updateData").click(function (e) {
                //alert('Welcome!')
                e.preventDefault();
{#                console.log("Got There");#}
{#                console.log($('#county_id').val())#}
{#                console.log($('#rate').val())#}
{#                console.log($('#year').val())#}
                var address = ["/health/edit_immunization"];
                var arrayLength = address.length;
                for (var i = 0; i < arrayLength; i++) {
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": address[i],
                        "method": "POST",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded",
                            "cache-control": "no-cache",
                        },
                        "data": {
                            "county": $('#county_id').val(),
                            "rate": $('#rate').val(),
                            "year": $('#year').val(),
                            "immune_id": localStorage.getItem("id")
                        }
                    }
                    $('#county_id').val('');
                    $('#rate').val('');
                    $('#year').val('');

                    $.ajax(settings).done(function (response) {
                        alert("Editted Successfully");
                        console.log(response);
                    });
                }
            })
{#            function editImmunization(e){#}
{#                e.preventDefault();#}
{#                console.log("Got There");#}
{#                var settings = {#}
{#                  "async": true,#}
{#                  "crossDomain": true,#}
{#                  "url": "http://localhost:8080/health/edit_immunization",#}
{#                  "method": "POST",#}
{#                  "headers": {#}
{#                    "content-type": "application/x-www-form-urlencoded",#}
{#                    "cache-control": "no-cache",#}
{#                  },#}
{#                  "data": {#}
{#                    "county": $('#county_id').val(),#}
{#                    "rate": $('#rate').val(),#}
{#                    "year": $('#year').val(),#}
{#                    "immune_id": localStorage.getItem("id")#}
{#                  }#}
{#                }#}
{##}
{#                $.ajax(settings).done(function (response) {#}
{#                  console.log(response);#}
{#                });#}
{##}
{#            }#}

        </script>

		<script type="text/javascript">
		/*
			$('input.validate').keyup(function(event) {

			  // skip for arrow keys
			  if(event.which >= 37 && event.which <= 40) return;

			  // format number
			  $(this).val(function(index, value) {
				return value
				.replace(/\D/g, "")
				.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
				;
			  });
			});
			*/
		</script>

{#		<?php if(isset($msg)){?>#}
{#		<script>#}
{#		$( document ).ready(function() {#}
{#			Materialize.toast("<?php echo $msg; ?>", 4000)#}
{#			});#}
{#		</script>#}
{#		<?php } ?>#}

    </body>
</html>