<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
		<title>Population Projections By Selected Age Group</title>
		<meta charset="utf-8">
		<meta name="description" content="Loyalty Club dashboard" />
		<meta name="keywords" content="web,loyalty club" />
		<meta name="author" content="Ron" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        {% load staticfiles %}


        <link href="{% static 'knbs_bi/assets/css/material.css' %}"  rel="stylesheet">


         <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'knbs_bi/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="{% static 'knbs_bi/assets/css/material.css' %}" rel="stylesheet">
        <link href="{% static 'knbs_bi/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'knbs_bi/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'knbs_bi/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

        <script type="text/javascript">

            function viewSelected(county, one, two, three, four, five, six, seven, eight, nine,
            ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, gender, year){
                localStorage.clear();
                localStorage.setItem("county", county);
                localStorage.setItem("one", one);
                localStorage.setItem("two", two);
                localStorage.setItem("three", three);
                localStorage.setItem("four", four);
                localStorage.setItem("five", five);
                localStorage.setItem("six", six);
                localStorage.setItem("seven", seven);
                localStorage.setItem("eight", eight);
                localStorage.setItem("nine", nine);
                localStorage.setItem("ten", ten);
                localStorage.setItem("eleven", eleven);
                localStorage.setItem("twelve", twelve);
                localStorage.setItem("thirteen", thirteen);
                localStorage.setItem("fourteen", fourteen);
                localStorage.setItem("fifteen", fifteen);
                localStorage.setItem("sixteen", sixteen);
                localStorage.setItem("seventeen", seventeen);
                localStorage.setItem("gender", gender);
                localStorage.setItem("year", year);
                window.location.replace("/population_projections_by_selected_age_group_view");

            }

            function load_selected(id, county, one, two, three, four, five, six, seven, eight, nine,
            ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, gender, year){
                localStorage.clear();
                localStorage.setItem("id", id);
                localStorage.setItem("county", county);
                localStorage.setItem("one", one);
                localStorage.setItem("two", two);
                localStorage.setItem("three", three);
                localStorage.setItem("four", four);
                localStorage.setItem("five", five);
                localStorage.setItem("six", six);
                localStorage.setItem("seven", seven);
                localStorage.setItem("eight", eight);
                localStorage.setItem("nine", nine);
                localStorage.setItem("ten", ten);
                localStorage.setItem("eleven", eleven);
                localStorage.setItem("twelve", twelve);
                localStorage.setItem("thirteen", thirteen);
                localStorage.setItem("fourteen", fourteen);
                localStorage.setItem("fifteen", fifteen);
                localStorage.setItem("sixteen", sixteen);
                localStorage.setItem("seventeen", seventeen);
                localStorage.setItem("gender", gender);
                localStorage.setItem("year", year);
                window.location.replace("/population_projections_by_selected_age_group_edit");

            }
        </script>


    </head>
    <body>

        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mn-content fixed-sidebar">
            {% include 'knbs_bi/side_menu.html' %}
           <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Population Projections By Selected Age Group</div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Population Projections By Selected Age Group Data</span>

                                {% if projections %}

								<a href="/population_projections_by_selected_age_group_add" class="btn maroon waves-effect waves-light " >Add
									<i class="material-icons right">add</i>
								</a>

                               <table id="example" class="display responsive-table datatable-example">
                                    <thead>
                                        <tr>
											<th></th>
                                            <th>County</th>
											<th>Range 0-4</th>
											<th>Range 5-9</th>
                                            <th>Range 10-14</th>
                                            <th>Range 15-19</th>
                                            <th>Range 20-24</th>
                                            <th>View</th>
											<th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for projection in projections %}
                                        <tr>
											<td></td>
											<td >{{ projection.county }}</td>
                                            <td >{{ projection.range_0_4 }}</td>
											<td >{{ projection.range_5_9 }}</td>
											<td >{{ projection.range_10_14 }}</td>
                                            <td >{{ projection.range_15_19 }}</td>
                                            <td >{{ projection.range_20_24 }}</td>
                                            <td ><button class="waves-effect waves-light btn orange "
                                                         onclick="viewSelected('{{ projection.county }}', {{ projection.range_0_4 }}, {{ projection.range_5_9 }}, {{ projection.range_10_14 }}
                                                                 ,{{ projection.range_15_19 }}, {{ projection.range_20_24 }}, {{ projection.range_25_29 }}
                                                                 , {{ projection.range_30_34 }}, {{ projection.range_35_39 }}, {{ projection.range_40_44 }}
                                                                 ,{{ projection.range_45_49 }}, {{ projection.range_50_54 }}, {{ projection.range_55_59 }}
                                                                 ,{{ projection.range_60_64 }}, {{ projection.range_65_69 }},{{ projection.range_70_74 }}
                                                                 ,{{ projection.range_75_79 }},{{ projection.range_80_plus }},'{{ projection.gender }}',{{ projection.year }})"> View </button></td>

                                            <td ><button class="waves-effect waves-light btn orange "onclick="load_selected({{ projection.id }},'{{ projection.county }}', {{ projection.range_0_4 }}, {{ projection.range_5_9 }}, {{ projection.range_10_14 }}
                                                                 ,{{ projection.range_15_19 }}, {{ projection.range_20_24 }}, {{ projection.range_25_29 }}
                                                                 , {{ projection.range_30_34 }}, {{ projection.range_35_39 }}, {{ projection.range_40_44 }}
                                                                 ,{{ projection.range_45_49 }}, {{ projection.range_50_54 }}, {{ projection.range_55_59 }}
                                                                 ,{{ projection.range_60_64 }}, {{ projection.range_65_69 }},{{ projection.range_70_74 }}
                                                                 ,{{ projection.range_75_79 }},{{ projection.range_80_plus }},'{{ projection.gender }}',{{ projection.year }})"> Edit </button></td>
                                        </tr>
										{% endfor %}
                                    </tbody>
                                </table>

                                {% else %}
											<p> You currently have no data</p>
								{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
        <script src="{% static 'knbs_bi/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/alpha.min.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/pages/table-data.js' %}"></script>
        <script src="{% static 'knbs_bi/assets/js/pages/form_elements.js' %}"></script>

    </body>
</html>